* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #f8e4a0;
  color: #5e6163;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Main container*/
.container {
  display: flex;
  gap: 2.5rem;

  margin-top: 1rem;
  padding: 1rem;
}


/* Styling for all checkboxes*/
input {
  cursor: pointer;
}


@media (max-width: 756px) {
  .container {
    display: flex;
    gap: .5rem;
  
    padding: .1rem .2rem;
  }
}


@media (max-width: 462px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
    gap: 0.1rem;
  
    margin-top: 0;
    padding: .1rem .2rem;
  }
}






